/*
Author: Eero Sormunen
Date: 2025-10-24
*/
/* Element */
h1,
p {
    color: red;
}

/* Class */
.box,
.highlight {
    background-color: yellow;
}

/* ID */
#special-message {
    font-size: 2em;
    text-align: center;
    color: blue;
}

/* Group */
h1,
h2,
h3 {
    font-family: 'Georgia', serif;
    margin-bottom: 15px;
}

/* Descendant */
nav section ul li {
    text-decoration: none;
    color: green;

    margin: 8px;
}

/* attribute */
input[type="text"] {
    border: 2px solid black;
    padding: 5px;
}

img[alt*="Pexels pehmoapina"] {
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    width: 100%;
    max-width: 500px !important;
    height: auto;
    display: block;
    margin: 20px auto;
}

a[target="_blank"] {
    color: orange;
    font-weight: bold;
}