/*
Author: Eero Sormunen
Date: 2025-10-20
*/
img, video, audio {
    width: 100%;
    max-width: 500px !important;
    height: auto;
    display: block;
    margin: 20px auto;
    
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #1b3d04;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: bisque;
}